<h1>Hello world! Tacos are delish </h1>

<! == I'm an HTML comment -->

<% 
    tacos = ["Carnitas","Al Pastor","Fish","Mushroom"]
%>

<p>There are <%= tacos.count %> tacos:</p>

<ul>
    <% for taco in tacos %>
        <li><%= taco %></li>
    <% end %>
</ul>